---
import { getCollection } from "astro:content";
import Container from "../../components/Container.astro";
import PostPreviewList from "../../components/PostPreviewList.astro";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return [
    { params: { category: "uncategorized" } },
    ...posts
      .map((post) => post.data.category)
      .filter((category) => category)
      .map((category) => ({ params: { category } })),
  ];
}

const { category } = Astro.params;
const posts = await getCollection("posts").then((posts) =>
  posts.filter(
    (post) =>
      post.data.category === category ||
      (category === "uncategorized" && !post.data.category)
  )
);
---

<PageLayout title={`Category: ${category}`}>
  <Container>
    <h2>
      Posts {
        category !== "uncategorized" ? (
          <>
            with category <b>{category}</b>
          </>
        ) : (
          "uncategorized"
        )
      }
    </h2>

    <PostPreviewList posts={posts} />
  </Container>
</PageLayout>
