---
import Container from "../components/Container.astro";
import PageLayout from "../layouts/PageLayout.astro";

const posts = await Astro.glob("./posts/*.md");
const categories = Object.entries(
  posts
    .map((post) => post.frontmatter.category ?? "uncategorized")
    .reduce((acc, category) => {
      acc[category] = (acc[category] ?? 0) + 1;
      return acc;
    }, {})
);
---

<PageLayout title="Categories">
  <Container>
    <h1 class="text-2xl mb-2">Categories</h1>

    <ul class="list-disc ml-4">
      {
        categories.map(([category, frequency]) => (
          <li>
            <a
              class="underline underline-offset-4"
              href={`/category/${category}`}
            >
              {category} ({frequency})
            </a>
          </li>
        ))
      }
    </ul>
  </Container>
</PageLayout>
