---
import { getCollection } from "astro:content";
import Container from "../components/Container.astro";
import PageLayout from "../layouts/PageLayout.astro";

const posts = await getCollection("posts");
const categories = Object.entries(
  posts
    .map((post) => post.data.category ?? "uncategorized")
    .reduce((acc, category) => {
      acc[category] = (acc[category] ?? 0) + 1;
      return acc;
    }, {} as Record<string, number>)
).sort(([category1, _frequency1], [category2, _frequency2]) =>
  category1.localeCompare(category2, "ja")
);
---

<PageLayout title="Categories">
  <Container>
    <h1>Categories</h1>

    <ul>
      {
        categories.map(([category, frequency]) => (
          <li>
            <a href={`/category/${category}`}>
              {category} ({frequency})
            </a>
          </li>
        ))
      }
    </ul>
  </Container>
</PageLayout>
