---
import { getCollection } from "astro:content";
import Container from "../components/Container.astro";
import PageLayout from "../layouts/PageLayout.astro";

const posts = await getCollection("posts");
const tags = Object.entries(
  posts
    .flatMap((post) => post.data.tags ?? [])
    .reduce((acc, tag) => {
      acc[tag] = (acc[tag] ?? 0) + 1;
      return acc;
    }, {} as Record<string, number>)
).sort(([tag1, _frequency1], [tag2, _frequency2]) =>
  tag1.localeCompare(tag2, "ja")
);
---

<PageLayout title="Categories">
  <Container>
    <h1>Tags</h1>

    <ul>
      {
        tags.map(([tag, frequency]) => (
          <li>
            <a href={`/tag/${tag}`}>
              {tag} ({frequency})
            </a>
          </li>
        ))
      }
    </ul>
  </Container>
</PageLayout>
