---
import { getCollection } from "astro:content";
import Container from "../components/Container.astro";
import PageLayout from "../layouts/PageLayout.astro";

const posts = await getCollection("posts");
const tags = Object.entries(
  posts
    .flatMap((post) => post.data.tags ?? [])
    .reduce((acc, tag) => {
      acc[tag] = (acc[tag] ?? 0) + 1;
      return acc;
    }, {})
);
---

<PageLayout title="Categories">
  <Container>
    <h1 class="text-2xl mb-2">Tags</h1>

    <ul class="list-disc ml-4">
      {
        tags.map(([tag, frequency]) => (
          <li>
            <a class="underline underline-offset-4" href={`/tag/${tag}`}>
              {tag} ({frequency})
            </a>
          </li>
        ))
      }
    </ul>
  </Container>
</PageLayout>
