---
import Hamburger from "./Hamburger.astro";
---

<div class="max-w-[800px] mx-auto px-4 flex gap-2 my-2">
  <a class="font-bold" href="/">South's Blog</a>
  <a class="text-blue-600 dark:text-blue-300 hidden min-[400px]:inline" href="/"
    >Home</a
  >
  <a
    class="text-blue-600 dark:text-blue-300 hidden min-[400px]:inline"
    href="/categories">Categories</a
  >
  <a
    class="text-blue-600 dark:text-blue-300 hidden min-[400px]:inline"
    href="/tags">Tags</a
  >
  <div class="grow"></div>
  <div class="hidden max-[400px]:inline basis-6 dark:fill-white">
    <a href="/nav"><Hamburger /></a>
  </div>
</div>
