---
import type { MarkdownInstance } from "astro";
import PostPreview from "./PostPreview.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<div>
  {
    posts.map((post, _index) => (
      <div class="post-preview-container">
        <PostPreview post={post} />
      </div>
    ))
  }
</div>

<style is:inline>
  .post-preview-container {
    margin-bottom: 0.5rem;
  }

  @media (max-width: 512px) {
    .post-preview-container {
      margin-bottom: 1rem;
    }
  }
</style>
