---
import type { MarkdownInstance } from "astro";
import PostPreview from "./PostPreview.astro";

export interface Props {
  posts: MarkdownInstance<any>[];
}

const { posts } = Astro.props;
---

<div>
  {
    posts.map((post, index) => (
      <div class="mb-1">
        <PostPreview post={post} />
      </div>
    ))
  }
</div>
