---
import type { MarkdownInstance } from "astro";
import PostPreview from "./PostPreview.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<div>
  {
    posts.map((post, index) => (
      <div class="mb-2 max-[400px]:mb-4">
        <PostPreview post={post} />
      </div>
    ))
  }
</div>
