---
import type { MarkdownInstance } from "astro";
import { format } from "date-fns";

export interface Props {
  post: MarkdownInstance<any>;
}

const {
  url,
  frontmatter: { title, published, external },
} = Astro.props.post;
---

<article>
  <a
    class="underline underline-offset-4 leading-none"
    href={external ?? url}>{title}</a
  >
  <span class="text-xs">{format(new Date(published), "yyyy-MM-dd")}</span>
</article>
