---
import type { MarkdownInstance } from "astro";
import { format } from "date-fns";
import { Icon } from "astro-icon";

export interface Props {
  post: MarkdownInstance<any>;
}

const {
  url,
  frontmatter: { title, published, external, icon },
} = Astro.props.post;
---

<article>
  {
    icon ? (
      <Icon class="h-4 inline" name={icon} />
    ) : external ? (
      <Icon class="h-4 inline" name="ph:globe" />
    ) : (
      <Icon class="h-4 inline" name="ph:pen-nib" />
    )
  }
  <a class="underline underline-offset-4 leading-none" href={external ?? url}
    >{title}</a
  >
  <span class="text-xs">{format(new Date(published), "yyyy-MM-dd")}</span>
</article>
