---
import PageLayout from "../../layouts/PageLayout.astro";
import Container from "../../components/Container.astro";
import PostPreviewList from "../../components/PostPreviewList.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts
    .flatMap((post) => post.data.tags ?? [])
    .map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params;
const posts = await getCollection("posts").then((posts) =>
  posts
    .filter((post) => !tag || post.data.tags.includes(tag))
    .sort(
      (post1, post2) =>
        new Date(post2.data.published).getTime() -
        new Date(post1.data.published).getTime()
    )
);
---

<PageLayout title={`Tag: ${tag}`}>
  <Container>
    <h2>
      Posts with tag <b>{tag}</b>
    </h2>
    <PostPreviewList posts={posts} />
  </Container>
</PageLayout>
