---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/icon.png" />
    <title>{title} | South's Blog</title>
  </head>
  <body class="body">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --background-color: #ffffff;
    --link-color: #000cb0;
    --text-color: #000000;
    --scrollbar-color: #0000006a;

    --font-size-h1: 1.875rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-h4: 1.125rem;
    --font-size-h5: 1rem;
    --font-size-h6: 0.875rem;
    --font-size-h7: 0.75rem;

    --line-height-h1: 2.5rem;
    --line-height-h2: 2rem;
    --line-height-h3: 1.75rem;
    --line-height-h4: 1.5rem;
    --line-height-h5: 1.25rem;
    --line-height-h6: 1rem;
    --line-height-h7: 0.875rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #202020;
      --link-color: #6ea8fe;
      --text-color: #ffffff;
      --scrollbar-color: #ffffff6a;
    }
  }

  a {
    color: var(--link-color);
  }

  body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
      sans-serif;
  }

  h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-weight: 100;
  }

  h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
    font-weight: 100;
  }

  h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
    font-weight: 100;
  }

  h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
    font-weight: 100;
  }

  h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
  }

  h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
  }

  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background: var(--scrollbar-color);
    border-radius: 8px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track:horizontal {
    margin: 4px 2px;
  }

  ::-webkit-scrollbar-thumb:vertical {
    background: var(--scrollbar-color);
    border-radius: 8px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track:vertical {
    margin: 2px 4px;
  }
</style>
