---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/icon.png" />
		<title>{title} | South's Blog</title>
	</head>
	<body class="dark:bg-neutral-800 dark:text-white">
		<slot />
	</body>
</html>
