---
import BaseLayout from "./BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Container from "../components/Container.astro";

export interface Props {
  title: string;
}

const { title, tags, category } = Astro.props.frontmatter;
---

<BaseLayout title={title}>
  <Navbar />

  <div class="pb-2"></div>

  <Container>
    <div class="text-xl font-bold">
      {title}
    </div>
    <div>
      Category: <a
        class="underline"
        href={`/category/${category ?? "uncategorized"}`}
        >{category ?? "uncategorized"}</a
      >
    </div>
    <div>
      Tags: {
        tags.map((tag: string) => (
          <a class="underline" href={`/tag/${tag}`}>
            {tag}
          </a>
        ))
      }
    </div>

    <hr class="my-2" />

    <div class="blog-post-body">
      <slot />
    </div>
  </Container>
</BaseLayout>

<style is:global>
  .blog-post-body p,
  .blog-post-body pre {
    @apply mb-4;
  }

  .blog-post-body a {
    @apply underline;
  }

  .blog-post-body h1,
  .blog-post-body h2,
  .blog-post-body h3,
  .blog-post-body h4,
  .blog-post-body h5,
  .blog-post-body h6 {
    @apply mb-1 font-semibold;
  }

  .blog-post-body h1 {
    @apply text-2xl mb-2;
  }

  .blog-post-body h2 {
    @apply text-xl;
  }

  .blog-post-body h3 {
    @apply text-lg;
  }
</style>
