---
import BaseLayout from "./BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Container from "../components/Container.astro";
import { Icon } from "astro-icon";

export interface Props {
  title: string;
}

const { title, tags, category } = Astro.props.frontmatter;
---

<BaseLayout title={title}>
  <Navbar />

  <div class="pb-2"></div>

  <Container>
    <div class="text-3xl mb-1">
      {title}
    </div>
    <div>
      <Icon class="h-4 inline" name="mdi:hashtag" />
      <a class="underline" href={`/category/${category ?? "uncategorized"}`}
        >{category ?? "uncategorized"}</a
      >
    </div>
    {
      tags && tags.length > 0 && (
        <div>
          <Icon class="h-4 inline" name="mdi:tag-multiple" />
          {tags.map((tag: string) => (
            <a class="underline" href={`/tag/${tag}`}>
              {tag}
            </a>
          ))}
        </div>
      )
    }

    <hr class="my-4" />

    <div class="blog-post-body">
      <slot />
    </div>
  </Container>
</BaseLayout>

<style lang="scss" is:global>
  .blog-post-body {
    p,
    pre,
    table,
    blockquote {
      @apply mb-4;
    }

    hr {
      @apply my-4;
    }
    a {
      @apply underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-4 mb-2;
    }
    h1,
    h2,
    h3,
    h4 {
      @apply font-extralight;
    }
    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }
    h5,
    h6 {
      @apply font-bold uppercase;
    }
    h6 {
      @apply text-sm;
    }

    pre, code {
      font-size: 0.9rem;
    }

    ul,
    ol {
      @apply ml-4;
    }
    ul {
      @apply list-disc;
    }
    ol {
      @apply list-decimal;
    }

    th,
    td {
      @apply px-2;
    }

    blockquote {
      @apply border-l-black dark:border-l-white border-l-2 pl-4;
    }

    summary {
      cursor: pointer;
    }

    details + * {
      margin-top: 1rem;
    }
    
    details + details {
      margin-top: 0;
    }

    @media (prefers-color-scheme: dark) {
      .remark-mermaid-neutral {
        display: none;
      }
    }

    @media not (prefers-color-scheme: dark) {
      .remark-mermaid-dark {
        display: none;
      }
    }
  }
</style>
